<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Primer Servidor</title>
</head>
<body>
    <%- include('partials/navigations.ejs'); -%>
    <h1>Hola con Express y EJS</h1>
</body>
</html>